html {
  font-family: Arial, sans-serif;
}

svg {
  overflow: visible;
  margin-bottom: 30svh;
}

.axis-label {
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.bold {
  font-weight: bold;
}

.bar.added {
  fill: green;
}

.bar.modified {
  fill: orange;
}

.bar.removed {
  fill: red;
}
